<p id="notice"><%= notice %></p>

<h1>Listing Whiskies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Origin</th>
      <th>Taste</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whiskies.each do |whisky| %>
      <tr>
        <td><%= whisky.name %></td>
        <td><%= whisky.description %></td>
        <td><%= whisky.origin %></td>
        <td><%= whisky.taste %></td>
        <td><%= whisky.photo %></td>
        <td><%= link_to 'Show', whisky %></td>
        <td><%= link_to 'Edit', edit_whisky_path(whisky) %></td>
        <td><%= link_to 'Destroy', whisky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whisky', new_whisky_path %>
