<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @whisky.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whisky.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @whisky.origin %>
</p>

<p>
  <strong>Taste:</strong>
  <%= @whisky.taste %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @whisky.photo %>
</p>

<%= link_to 'Edit', edit_whisky_path(@whisky) %> |
<%= link_to 'Back', whiskies_path %>
